# ============================================================
# Python
# ============================================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ============================================================
# Jupyter
# ============================================================
.ipynb_checkpoints/

# ============================================================
# Environment
# ============================================================
.env

# ============================================================
# Data (untrack for now)
# ============================================================
data/raw/
data/portfolio/
data/processed/
docs/blog-ready
docs/

# keep small sample data if needed:
# !data/sample/

# ============================================================
# OS files
# ============================================================
.DS_Store
Thumbs.db

# ============================================================
# VS Code
# ============================================================
.vscode/

# ============================================================
# Logs
# ============================================================
*.log